/*  header */

.header {
    padding: 12px 0 40px 0;
}

.header__wrapper {
    display: flex;
    align-items: start;
}

.logo {
    width: 70px;
    height: 74.37px;
}

.tel {
    font-weight: 400;
    font-size: 18px;
}

.tel:hover {
    transition: text-decoration 0.3 ease;
    text-decoration: underline;
}

.logo__header {
    margin-right: 861px;
}

.nav__header {
    margin-right: 207px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 98px;
}

/* menu buttons */

.menu__link {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, text-decoration 0.3s ease, margin 0.3s ease;
}

.menu__link:hover {
    transform: scale(1.2);
    margin-left: 15px;
    text-decoration: underline;
}

/* menu buttons */

.menu__item {
    font-size: 18px;
    font-weight: 400;
}

/*  header  */