@import url(normalize.css);
@import url(preloader.css);

html {
    scroll-behavior: smooth;
}

body {
    /* box-sizing: border-box; */
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    /* Убирает специфичный цвет ссылки, наследует цвет от родителя */
    text-decoration: none;
    /* Убирает подчеркивание у ссылок */
    background-color: transparent;
    /* Убирает фон, если он был */
    -webkit-text-decoration-skip: objects;
    /* Пропускает декорацию текста вокруг объектов для WebKit браузеров */
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1376px;
    margin: 0 auto;
}

/*  header */

.header {
    padding: 12px 0 40px 0;
}

.header__wrapper {
    display: flex;
    align-items: start;
}

.logo {
    width: 70px;
    height: 74.37px;
}

.tel {
    font-weight: 400;
    font-size: 18px;
}

.tel:hover {
    transition: text-decoration 0.3 ease;
    text-decoration: underline;
}

.logo__header {
    margin-right: 861px;
}

.nav__header {
    margin-right: 207px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 98px;
}

/* menu buttons */

.menu__link {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, text-decoration 0.3s ease, margin 0.3s ease;
}

.menu__link:hover {
    transform: scale(1.2);
    margin-left: 15px;
    text-decoration: underline;
}

/* menu buttons */

.menu__item {
    font-size: 18px;
    font-weight: 400;
}

/*  header  */

/*  main content  */



.content {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 0 5px;
}

/*  offer section  */

.offer {
    height: 1107px;
}

.offer__text-wrapper {
    height: inherit;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.offer__left-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 329px;
    height: 493px;
}

.offer__right-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 678px;
    height: 809px;
}

.offer__text-wrapper-left {
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 794px;
}

.offer__title {
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
}

.offer__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    width: 445px;
}

.offer__text-wrapper-right {
    padding-top: 235px;
}

/* order button */

.offer__text-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    transition: transform 0.4s ease;
}

.offer__text-link:hover {
    transform: scale(1.3);
    margin-right: 45px;
    text-decoration: underline;
}

/* order button */

/*  offer section  */


/* section about */

.wrapper-container {
    display: flex;
    justify-content: space-between;
}

.title-wrapper {
    width: 50%;
}

.title {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    width: 562px;
}

.column-wrapper {
    padding-left: 9px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about__offer {
    gap: 42px;
}

.about__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: inherit;
}

.about__text {
    width: 446px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__item {
    display: flex;
    flex-direction: column;
}

.about__item-title {
    font-size: 36px;
    font-weight: 400;
}

.about__item-text {
    font-size: 16px;
    font-weight: 400;
}

/* section about */

/* section steps */
.steps__column {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.steps__el-step {
    display: flex;
    padding-bottom: 22.5px;
    border-bottom: 1px solid black;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.steps__el-step-title {
    width: 328px;
    font-size: 36px;
    font-weight: 400;
}

.steps__el-step-text {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    width: 329px;
}
/* section steps */

/* section projects */

.projects {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projects__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projects__img {
    width: inherit;
    height: inherit;
}

.projects__item {
    width: 445px;
    height: 580px;
}
/* section projects */


/*  section reviews  */

.reviews {
    
}

/*  section reviews  */

/*  main content  */